 .recherche {
  display: flex;
  align-items: center;
   // flex-wrap: nowrap;   // SI C BAGAY ENLEVE CA !!!!!!!!!!!!!!!!!!!!!!!
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  .recherche__input {
      border: none;
      font-size: 16px;
      outline: none;
      padding: 5px 10px;
      width: 70%;
      &:focus {
          border-color: rgb(8, 201, 37);
      }
  }


  .recherche__bouton {
      background-color: rgb(19, 251, 77);
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      padding: 5px 10px;
      &:hover {
          background-color: rgb(78, 109, 233);
      }
  }
  .recherche__icone {
      font-size: 20px;
  }
}
