/* Liste à puces */
ul, ol {
    list-style: disc;
    margin-left: 1.5em;
    text-align: center;
  }
  
  /* Éléments de la liste à puces */
  ul li, ol li {
    margin: 0.5em 0;
  }
  
  /* Texte en gras */
  strong, b {
    font-weight: bold;
  }
  
  /* Texte en italique */
  em, i {
    font-style: italic;
  }
  
  /* Lien hypertexte */
  a {
    color: blue;
    text-decoration: none;
  }
  
  /* Lien hypertexte survolé */
  a:hover {
    text-decoration: underline;
  }
  
  /* Code */
  code {
    font-family: monospace;
    background-color: #f7f7f7;
    padding: 0.1em 0.5em;
    border-radius: 3px;
  }
  
  /* Ligne horizontale */
  hr {
    border: none;
    border-top: 5px solid #ccc;
    margin: 1em 0;
  }

  body {
    color: rgb(11, 14, 7);
    text-align: left;
  }
  